@import url('https://fonts.googleapis.com/css2?family=Kodchasan&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    margin: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f2f3f7;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #b1c0fe;
    font-size: 1.5rem;
    font-weight: 400;
}

.dropzone {
    border: 0.2rem dashed #6583fe;
    padding: 2rem;
    border-radius: 0.25rem;
    background-color: #fff;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.25s background-color ease-in-out;
    cursor: pointer;
}

.dropzone-dragging,
.dropzone:hover {
    background-color: #f3f5ff;
}

.dropzone-icon {
    max-width: 75px;
    display: block;
    margin: 0 auto 1.5rem;
}

.dropzone-input {
    display: none;
}

.btn {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #3a529a;
    font-size: 18px;
    border-radius: 40px;
    border-color: #ffffff00;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
        inset -2px -2px 12px rgba(255, 255, 255, .5),
        inset 2px 2px 4px rgba(255, 255, 255, .1),
        inset 2px 2px 8px rgba(0, 0, 0, .15);
    display: inline-block;
    transform: scale(.98);
    cursor: pointer;
}

.btn .wrong {
    background-color: rgb(251, 93, 93);
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.missMatch {
    margin: 1em;
}

a {
    float: left;
    clear: left
}

.wrapper {
    margin-bottom: 1em;
}

.btn .excel_btn{
    background-color: rgb(88, 156, 88) !important;
}